/*
 * =================================================================== 
 *
 *  PHD Main Stylesheet
 *  url: recruitment.com
 *  28-9-2016
 * -------------------------------------------------------------------
 *
 




 /** 
 * ===================================================================
 * webfonts and iconfonts 
 *
 * ------------------------------------------------------------------- 
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body {
  font-family: 'Roboto', sans-serif;

  background-color: #f7f7f7;
    font-size: 15px;
    color: #777;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width:1024px) {
  html {
    font-size: 9.375px;

  }
}
@media only screen and (max-width:768px) {
  html {
    font-size: 10px;

  }
  h3
  {
    font-size: 25px;
  }
}
@media only screen and (max-width:400px) {
  html {
    font-size: 9.375px;
  }
}
 
/*
*-
* common styles
*
*/
.m-t-em-7
{
  margin-top: 7em
}
.m-t-em-4
{
  margin-top: 4em
}
.m-t-em-3
{
  margin-top: 3em
}
.m-t-em-2
{
  margin-top: 2em
}
.m-t-em-1
{
  margin-top: 1em
}
.m-b-em-3
{
  margin-bottom: 3em
}
.m-b-em-2
{
  margin-bottom: 2em
}
.m-b-em-1
{
  margin-bottom: 1em
}
.m-t-20
{
  margin-top: 20px;
}
.m-b-20
{
  margin-bottom: 20px
}
.m-t-15
{
  margin-top: 15px;
}
.m-t-10
{
  margin-top: 10px;
}
.m-b-10
{
  margin-bottom: 10px;
}
.m-b-5
{
  margin-bottom: 5px;
}
.m-t-5
{
  margin-top: 5px;
}

.padding-main
{
  padding: 3em 0;
}
/*color*/
.main-color
{
    color: #0083ff;
}
.secound-color
{
  color: #19a8cb;
}  
.background-main
{
  background-color: #f8f8f8;
}
.white-color
{
  color: #fff;
}
.bg-white
{
   background-color: #fff;
}
.black-color
{
   color: #000;
}

/*border*/
.main_border
{
  border:1px solid #DFDFDF;
      border-radius: 15px;
}

/* Links */
a {
    
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

/*
*
* common Style
*/
.btn-primary
{
      background-color: #0083ff;
          border-color: #0083ff;
    color: #fff;
    transition: all 0.4s;
        padding: 9px  34px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
       box-shadow: 0 7px 20px 5px rgba(50, 63, 14, 0.3);
          background-color: #0083ff;
                    border-color: #0083ff;
    outline: none !important;
    
    transition: all 0.3s;
}
.btn-white
{
      background-color: #fff;
          border-color: #fff;
    color: #000;
    transition: all 0.4s;
        padding: 9px  34px;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white,
.btn-white:active:focus,
.btn-white:active:hover,
.btn-white.active:hover,
.btn-white.active:focus {
       box-shadow: 0 7px 20px 5px rgba(50, 63, 14, 0.3);
          background-color: #fff;
                    border-color: #fff;
    outline: none !important;
    
    transition: all 0.3s;
}
.btn-line
{
      background-color: transparent;
          border-color: #0083ff;
    color: #0083ff;
    transition: all 0.4s;
        padding: 6px 34px;
}

.btn-line:hover, .btn-line:focus, .btn-line:active, .btn-line.active, .open .dropdown-toggle.btn-btn-line, .btn-line:active:focus, .btn-line:active:hover, .btn-line.active:hover, .btn-line.active:focus {
       box-shadow: 0 7px 20px 5px rgba(50, 63, 14, 0.3);
         outline: none;
    
     background-color: #0083ff;
          border-color: #0083ff;
    color: #fff;
   
    transition: all 0.3s;
}
.btn-rounded {
  border-radius: 50px;
}






header .navbar-default {
  background: #fff;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  
}
header .navbar-default {
  /*background: #fff;*/

  
}
header .navbar-default ul.navbar-nav {
  padding: 20px 0;
}
header .navbar-default ul.navbar-nav li a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 17px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:after {
  content: '';
  width: 32px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: 2px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover:after {
  background: transparent;
}
header .navbar-default ul.navbar-nav li a.getApp {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a.getApp:hover, header .navbar-default ul.navbar-nav li a.getApp:focus, header .navbar-default ul.navbar-nav li a.getApp:focus
{
  background: #0083ff;
}
header .navbar-default ul.navbar-nav li a.getApp:after {
  display: none;
}
header .navbar-default ul.navbar-nav li a:focus {
  color: #ffffff;
}
header .navbar-default .navbar-brand {
  height: auto;
  padding: 0;
}
header .navbar-default.scrolled {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/*header .navbar-default.scrolled .navbar-brand {
  padding: 15px 20px;
}*/
header .navbar-default.scrolled .navbar-brand img {
  /*width: auto;*/
      max-height: 73px;
}
header .navbar-default.scrolled ul.navbar-nav {
/*  padding-top: 15px;*/
}
.navbar-brand img
{
      padding: 8px 5px;
    max-height: 69px;
}

/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
  overflow: hidden;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.tp-caption {
  font-family: 'Changa', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.tp-caption.large_white_bold {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
}
.tp-caption.large_white_light {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
  font-weight: 300;
}

.navbar-fixed-top .navbar-collapse
{
  max-height: none;
}
@media screen and (max-width: 640px) {
  .logo {
    width: 100px;
    height: auto;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .contact-details {
    margin-top: 20px;
  }
  header .navbar-default {
    padding: 20px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    background: none;
    border: 2px solid #0083ff;
    color: #0083ff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default ul.navbar-nav li a {
    padding: 10px;
    text-align: center;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    background: none !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    -ms-border-radius: 0em;
    -o-border-radius: 0em;
    border-radius: 0em;
  }
  header .navbar-default .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default.scrolled .navbar-toggle {
    margin-top: 11px;
    margin-right: 20px;
    background: none;
    border: 2px solid #0083ff;
    color: #0083ff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
}


header .navbar-default ul.navbar-nav li a {
  color: #cccccc;
  background: none;
}
header .navbar-default ul.navbar-nav li a.getApp {
  color: #fff !important;
  background: #0083ff;
 
}
/**/
header .navbar-default ul.navbar-nav li a:hover
 {
  color: #0083ff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:active
 {
  color: #0083ff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:foucs
 {
  color: #0083ff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled {
  border-bottom: 1px solid #f4f9ff
}
header .navbar-default.scrolled ul.navbar-nav li a {
  color: #ccc;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover {
  color: #0083ff;
}
/*header .navbar-default.scrolled ul.navbar-nav li a:hover:after {
  background: #336799;
}*/
/*header .navbar-default.scrolled .navbar-brand {
  background: #336799;
}*/
.navbar-toggle {
  background-color: #CCC;
  border: 1px solid rgba(0, 0, 0, 0);
}

@media screen and (max-width: 640px) {
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav li a {
    color: #ffffff;
    border-bottom: 1px solid #376fa4;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    color: #ffffff;
  }

  header .navbar-default ul.navbar-nav li a:after {
    display: none;
  }
  header .navbar-default ul.navbar-nav li a:hover {
    color: #66cdcc;
  }
  header .navbar-default .navbar-collapse {
    background: #336799;
  }
  header .navbar-default.scrolled {
    background: #fff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a {
    color: #fff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #0083ff;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0083ff;
     background-color: transparent; 
}
.navbar-default.scrolled .navbar-nav>.active>a, .navbar-default.scrolled .navbar-nav>.active>a:focus, .navbar-default.scrolled .navbar-nav>.active>a:hover {
    color: #0083ff;
    background-color: transparent;
}
.dropdown .dropdown-menu li a
{
  padding: 3px 17px !important
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 19px;
}
.dropdown-menu
{
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          border: 1px solid rgba(169, 163, 163, 0.15);
}
@media (max-width: 767px)
{
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #f7f5f5;
 }
 .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #0083ff;
  background-color: transparent;
}
}
#banner-static { 
    padding-top: 12em;
    padding-bottom: 12em;
}

/*login*/
.pb_form_v1 {
    padding: 1.3em 2em 2em;
        -webkit-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);

    box-shadow: 1px 11px 68px -20px #337ab752;
}
.rounded {
    border-radius: 1.25rem  !important;
}
.form-control.reverse {
    
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  
}

.pb_height-50 {  
    height: 50px!important;
}

/*search*/

 /*subscribe*/
.bg-elipse-red {
    background: url(../img/elipse-bg-two.png) no-repeat;
    background-position: center;
}
.cta-subscribe .content .title h2 {
    
    font-weight: 300;
}
.domain-checker .group {
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.domain-checker .group .input-group-addon {
    padding-left: 35px;
    padding-right: 35px;
    background: #7d71d3;
    color: #fff;
    cursor: pointer;
}
.domain-checker input
{
  height: 60px;
    border: none;
    padding-left: 30px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.domain-checker button
{
  border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    height: 59px;
    padding: 0 45px;
}

@media only screen and (max-width:768px) {
  #banner-static {
    padding-top: 8em;
  
    padding-bottom: 8em;
  }
  #banner-static h2
  {
    font-size: 1.3em;
  }
}
textarea:focus, input:focus{
  outline: none;
}
/*
*
* footer
*/
footer
{
 
  padding: 2em;
  color: #376fa4;
  background: #ffffff52;
     font-size: 14px;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
footer a
{
      padding: 10px 5px;
    color: #777;
}
footer .social
{
      font-size: 20px;
}
footer .list-inline  li a:active li a:focus, li a:hover, li a:visited
{
      color: #376fa4;
}

/*
*
* footer
*/
#profile 
{
  margin: 3em 0;
  
}
#profile  .card {

  height: auto;
  
    padding: 1em 3em;
}
.wpb_wrapper h3 {
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -0.05em;
  color: #3c3c3c;

}
 
.wpb_text_column ul li {
  list-style-type: none;

}
.wpb_text_column ul li {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: #636363;
  margin-bottom: 8px;
  padding-left: 18px;
}
.wpb_text_column ul li:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #0083ff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.special-img 
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}
.profile-image  {
	padding-top: 0px;
	padding-bottom: 0px;
}
.cover
{
  position: relative;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-height: 450px;
  background-image: url('../img/banner-bg.jpg');
}
.tg-homebanner figure figcaption, .tg-innerbanner figure figcaption {
  width: 100%;
  float: left;
  min-height: 620px;
  padding: 100px 0 240px;

}
.tg-bannercontent h1 {
  color: #fff;
  margin: 0 0 15px;
  font-size: 40px;
  line-height: 44px;
}
.tg-bannercontent h2 {
  color: #fff;
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}





.tg-main {
  z-index: 3;
  position: relative;
}

.tg-categoriessearch {
  float: left;
  width: 100%;
  padding: 7px;
  background-color: #f7f7f7;
  margin: -207px 0 0;
  position: relative;
  border-radius: 10px 10px 0 0;
}
.tg-title {
  width: 100%;
  float: left;
  padding: 0 0 7px;
  text-align: center;
}
.tg-title h2 span {
  font-weight: 300;
}
#tg-main label{
  display: block;
    font-size: 16px;
    font-weight: 600;
    color: #666;
    margin-bottom: 8px;
}
#tg-main .form-group
{
  margin-top: 1.3em
}

.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.928571;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
@media only screen and (min-width:768px) {

  .tg-categoriessearch{
    background-color: #0083ff;
  }


  .tg-categoriessearch:before {
    left: 8px;
    -webkit-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    /* transform: skewX(20deg); */
    -webkit-box-shadow: -12px -15px 20px 0 #000;
    box-shadow: -12px -15px 20px 0 #000;
  }
  
  .tg-categoriessearch:before, .tg-categoriessearch:after {
    bottom: 0;
    width: 30%;
    z-index: -1;
    content: "";
    height: 40%;
    opacity: 0.30;
    background: #000;
    position: absolute;
  }
  .tg-categoriessearch:after {
    right: 8px;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    -webkit-box-shadow: 12px -15px 20px 0 #000;
    box-shadow: 12px -15px 20px 0 #000;
  }
  
  .tg-categoriessearch:before, .tg-categoriessearch:after {
    bottom: 0;
    width: 30%;
    z-index: -1;
    content: "";
    height: 40%;
    opacity: 0.30;
    background: #000;
    position: absolute;
  }
}


.card {
  background: #fff;
  border-radius: 23px;
  height: auto;
  margin: 1rem;

  padding: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.tg-pagination {
  width: 100%;
  /* float: left; */
  padding: 30px 0 0;
  font: 13px/30px 'Work Sans', Arial, Helvetica, sans-serif;
}
.tg-pagination ul {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  list-style: none;
  line-height: 30px;
  text-align: center;
}
.tg-pagination ul li {
  margin: 3px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #f8f8f8;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
}
.tg-pagination ul li a {
  color: #484848;
  display: block;
  text-align: center;
  position: relative;
  line-height: 30px;
}

.tg-pagination ul li.tg-active a, .tg-pagination ul li a:hover
{
  background: #00cc67;
}
.page-header-bg {
  background-image: url(../img/page-header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page-header-padding {
  padding: 138px 0;
}
#fact
{
  
    border-bottom-width: 1px !important;
    border-top-color: rgba(0,0,0,0.08) !important;
    
    border-bottom-color: rgba(0,0,0,0.08) !important;
    border-bottom-style: solid !important;
    margin-top: 3em;
}
.fact-items {
  padding: 50px 0;
}
.fact {
  text-align: center;
}
.fact .fact-number {
  font-size: 4.5rem;
  color: #0083ff;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  margin-top: 25px;
  margin-bottom: 5px;
  line-height: 1;
}
.fact-items .col-sm-4 {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.fact-items .col-sm-4:last-child {
  border-right: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #98999a;
  line-height: 48px;
  outline: none;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #d0cdcd;
  border-radius: 25px 0 0 25px;
  height: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  
  top: 12px;
  
}
/*filter*/
.filter-page
{
  padding-top: 3em;
}
.result-item {
    background-color: #fff;
    
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 169px;
}


.result-item .item-body {
    padding:21px 0;
   
}
.result-item .item-body .item-title h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1em
}
.result-item .item-body .item-hotel-star {
    font-size: 11px;
    color: #FFD34E;
}
 .result-item .item-body .item-address {
    font-weight: 600;
    font-size: 13px;
    color: #999c9e;
    margin-top: 5px;
}
.result-item .item-more {
  
    padding: 0 30px;
    margin: 20px 0;
   
  
}
.image-cover img
{
  width: 100%;
  height: 13em;
}
 .item-body:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    top: 20px;
    bottom: 20px;
    right: 0;
    border-left: 2px dotted #D4D4D4;
}
.page__pagination
{
  text-align: center
}
 .page__pagination a {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #666;
    min-width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 1px;
    margin: 6px;
}
.page__pagination .current, .page__pagination a:hover {
    background-color: #0091ea;
    color: #fff;
}
.page__pagination span, .page__pagination a {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #666;
    min-width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 1px;
    margin: 6px;
}
.widget ul li 
{
  list-style: none;
}
.widget ul
{
  padding:0;
}
.page-sidebar .sidebar-title {
    border-top-color: #0091EA;
}
.page-sidebar .sidebar-title {
    position: relative;
    overflow: hidden;
    border-top: 5px solid #c60716;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 15px;
    padding: 18px 0;
}
.page-sidebar .widget {
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 15px;
}
.page-sidebar .widget:last-child {
    border:0;
}
.widget label
{
  font-weight: 400
}
.widget h3
{
  color: #c60716
}
@media only screen and (max-width:768px) {
 .result-item .item-body {
    padding: 21px 6px;
}

}
/*News*/

#News  .item
{
  margin: 1em
}

#News .post .post-meta {
  margin-top: 15px;
  margin-bottom: 15px;
}
#News .post-meta .post-category.cat-1 {
  background-color: #02ad88;
  color: #fff;
  padding: .3em;

}
#News .post-meta .post-date {
  font-size: 13px;
  font-weight: 600;
}
#News .post .post-title {
  font-size: 18px;
  margin-bottom: 0px;
}
#News .post
{
  border: 1px solid #02ad8842;
}
#News  .post-body
{
  padding: 1em 1em 2em 1em;
}
#News  .post-body p
{
  color: #aeaeae;
  font-size: 14px;
}

/*
* how_work
*
*/
#how_work
{
  background: #fff;
}
.arrow:after {
  content: "";
  display: block;
  background: url(../img/arrow.png) no-repeat;
  width: 51px;
  height: 76px;
  /* position: absolute; */
  float: right;
  margin: -110px -18px 0 0;

}
@media only screen and (max-width:768px) {
  .arrow:after {
    display: none
  }
}

/*form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative !important;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #3b5998;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #3b5998;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #3b5998;
}

#msform .action-button-previous {
  width: 100px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 2em;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 9px;
  width: 24.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
  font-weight: bold
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #3b5998;
  color: white;
}


/* Not relevant to this form */
.dme_link {
  margin-top: 30px;
  text-align: center;
}
.dme_link a {
  background: #FFF;
  font-weight: bold;
  color: #3b5998;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 25px;
  font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
  background: #C5C5F1;
  text-decoration: none;
}
input[type=file] {
  display: none;
}
/*
* details
*
*/
#details .card.card-cascade.card-avatar img {
  margin-top: -5rem;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
#details .card.card-cascade.card-avatar {
  margin-top: 6rem;
  text-align: center;
}

#details .card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
  height: auto;
}

#details .description {

  margin-top: 6rem;
}
.btn-floating i {
  font-size: 1.25rem;
  line-height: 47px;
  display: inline-block;
  width: inherit;
  text-align: center;
  color: #fff;
}

.grey-text {
  color: #9e9e9e!important;
}
.btn-floating {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
/*
*
* profile
*/
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f304";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.error{
  border: 1px solid red !important;
}