/*
 * =================================================================== 
 *
 *  PHD Main Stylesheet
 *  url: copyRight.com
 *  20-12-2018
 * -------------------------------------------------------------------
 *
 *  TOC:
 * 1-01. webfonts and iconfonts
 * 1-02. base style overrides
 * 1-03. common styles

 **** Home *****
 1- services
 2- portfolio




 /**
 * ===================================================================
 * webfonts and iconfonts
 *
 * -------------------------------------------------------------------
 */

 body, html {
  height: 100%;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body {
  font-family: 'Dosis', sans-serif;


  font-size: 15px;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width:1024px) {
  html {
      font-size: 9.375px;

  }
}
@media only screen and (max-width:768px) {
  body, html {
      height: auto;
      margin: 0;
  }
  html {
      font-size: 10px;

  }
  h3
  {
      font-size: 25px;
  }
}
@media only screen and (max-width:400px) {
  html {
      font-size: 9.375px;
  }
}

/*
*-
* common styles
*
*/
.m-t-em-7
{
  margin-top: 7em
}
.m-t-em-3
{
  margin-top: 3em
}
.m-b-em-3
{
  margin-bottom: 3em
}
.m-t-em-1
{
  margin-top: 1em
}
.m-t-em-2
{
  margin-top: 2em
}
.m-b-em-2
{
  margin-bottom: 2em
}
.m-t-20
{
  margin-top: 20px;
}
.m-b-20
{
  margin-bottom: 20px
}
.m-t-15
{
  margin-top: 15px;
}
.m-t-10
{
  margin-top: 10px;
}
.m-b-10
{
  margin-bottom: 10px;
}
.m-b-5
{
  margin-bottom: 5px;
}
.m-t-5
{
  margin-top: 5px;
}

.padding-main
{
  padding: 3em 0;
}
/*color*/
.main-color
{
  color: #004c81;
}
.secound-color
{
  color: #444444;
}
.background-main
{
  background-color: #f8f8f8;
}
.white-color
{
  color: #fff;
}
.off-white-color {
  color: #dcdbdb;
}
.gray-color
{
  color: #444444;
}
.bg-white
{
  background-color: #fff;
}
.black-color
{
  color: #000;
}

.layer {
        background:  rgba(157, 173, 227, .7);
  height: 100%;
}
/*border*/
.main_border
{
  border:1px solid #DFDFDF;
  border-radius: 15px;
}
.title
{
  color: #444;
  font-weight: bold;
  font-size: 3em;
}

/* Links */
a {

  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}

/*
*
* common Style
*/
.btn-primary
{
  background-color: #004c81;
  border-color: #004c81;
  color: #fff;
  transition: all 0.4s;
  padding: 6px 34px;
  border-radius: 0
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  box-shadow: 0 7px 20px 5px rgba(50, 63, 14, 0.3);
      background-color: #01416d;
    border-color: #01416d;
  outline: none !important;

  transition: all 0.3s;
}

.btn-line
{
  background-color: transparent;
  border-color: #004c81;
  color: #004c81;
  transition: all 0.4s;
  padding: 6px 34px;
}

.btn-line:hover, .btn-line:focus, .btn-line:active, .btn-line.active, .open .dropdown-toggle.btn-btn-line, .btn-line:active:focus, .btn-line:active:hover, .btn-line.active:hover, .btn-line.active:focus {
  box-shadow: 0 7px 20px 5px rgba(50, 63, 14, 0.3);
  outline: none;

  background-color: #004c81;
  border-color: #004c81;
  color: #fff;

  transition: all 0.3s;
}
.btn-rounded {
  border-radius: 50px;
}






header .navbar-default {
  background: #fff;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;

}
header .navbar-default {
  /*background: #fff;*/


}
header .navbar-default ul.navbar-nav {
  padding: 20px 0;
}
header .navbar-default ul.navbar-nav li a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 17px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:after {
  content: '';
  width: 32px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: 2px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
header .navbar-default ul.navbar-nav li a:hover:after {
  background: transparent;
}
header .navbar-default ul.navbar-nav li a.getApp {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a.getApp:hover, header .navbar-default ul.navbar-nav li a.getApp:focus, header .navbar-default ul.navbar-nav li a.getApp:focus
{
  background: #004c81;
}
header .navbar-default ul.navbar-nav li a.getApp:after {
  display: none;
}
header .navbar-default ul.navbar-nav li a:focus {
  color: #ffffff;
}
header .navbar-default .navbar-brand {
  height: auto;
  padding: 0;
}
header .navbar-default.scrolled {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/*header .navbar-default.scrolled .navbar-brand {
padding: 15px 20px;
}*/
header .navbar-default.scrolled .navbar-brand img {
  /*width: auto;*/
  max-height: 73px;
}
header .navbar-default.scrolled ul.navbar-nav {
  /*  padding-top: 15px;*/
}
.navbar-brand img
{
  padding: 19px 5px;
  max-height: 69px;
}

/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
  overflow: hidden;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.tp-caption {
  font-family: 'Changa', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.tp-caption.large_white_bold {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
}
.tp-caption.large_white_light {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
  font-weight: 300;
}

.navbar-fixed-top .navbar-collapse
{
  max-height: none;
}
@media screen and (max-width: 640px) {
  .logo {
      width: 100px;
      height: auto;
  }
  .slick-next {
      right: 0;
  }
  .slick-prev {
      left: 0;
  }
  .contact-details {
      margin-top: 20px;
  }
  header .navbar-default {
      padding: 20px;
  }
  header .navbar-default .navbar-toggle {
      margin-top: 0px;
      margin-right: 0px;
      background: none;
      border: 2px solid #004c81;
      color: #004c81;
      -webkit-border-radius: 5em;
      -moz-border-radius: 5em;
      -ms-border-radius: 5em;
      -o-border-radius: 5em;
      border-radius: 5em;
  }
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
      background: none;
  }
  header .navbar-default ul.navbar-nav {
      padding-top: 0;
      margin: 0;
  }
  header .navbar-default ul.navbar-nav li a {
      padding: 10px;
      text-align: center;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
      background: none !important;
      -webkit-border-radius: 0em;
      -moz-border-radius: 0em;
      -ms-border-radius: 0em;
      -o-border-radius: 0em;
      border-radius: 0em;
  }
  header .navbar-default .navbar-collapse {
      border-color: transparent;
  }
  header .navbar-default.scrolled .navbar-collapse {
      border-color: transparent;
  }
  header .navbar-default.scrolled ul.navbar-nav {
      padding-top: 0;
      margin: 0;
  }
  header .navbar-default.scrolled .navbar-toggle {
      margin-top: 11px;
      margin-right: 20px;
      background: none;
      border: 2px solid #004c81;
      color: #004c81;
      -webkit-border-radius: 5em;
      -moz-border-radius: 5em;
      -ms-border-radius: 5em;
      -o-border-radius: 5em;
      border-radius: 5em;
  }
}


header .navbar-default ul.navbar-nav li a {
  color: #cccccc;
  background: none;
}
header .navbar-default ul.navbar-nav li a.getApp {
  color: #fff !important;
  background: #004c81;

}
/**/
header .navbar-default ul.navbar-nav li a:hover
{
  color: #004c81;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:active
{
  color: #004c81;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:foucs
{
  color: #004c81;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled {
  border-bottom: 1px solid #f4f9ff
}
header .navbar-default.scrolled ul.navbar-nav li a {
  color: #ccc;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover {
  color: #004c81;
}
/*header .navbar-default.scrolled ul.navbar-nav li a:hover:after {
background: #336799;
}*/
/*header .navbar-default.scrolled .navbar-brand {
background: #336799;
}*/
.navbar-toggle {
  background-color: #CCC;
  border: 1px solid rgba(0, 0, 0, 0);
}

@media screen and (max-width: 640px) {
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
      background: none;
  }
  header .navbar-default ul.navbar-nav li a {
      color: #ffffff !important;
      border-bottom: 1px solid #376fa4;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
      color: #ffffff;
  }

  header .navbar-default ul.navbar-nav li a:after {
      display: none;
  }
  header .navbar-default ul.navbar-nav li a:hover {
      color: #66cdcc;
  }
  header .navbar-default .navbar-collapse {
      background: #336799;
  }
  header .navbar-default.scrolled {
      background: #fff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a {
      color: #fff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a:hover {
      color: #004c81;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #004c81;
  background-color: transparent;
}
.navbar-default.scrolled .navbar-nav>.active>a, .navbar-default.scrolled .navbar-nav>.active>a:focus, .navbar-default.scrolled .navbar-nav>.active>a:hover {
  color: #004c81;
  background-color: transparent;
}
.dropdown .dropdown-menu li a
{
  padding: 3px 17px !important
}
.navbar-nav>li>.dropdown-menu {
  margin-top: 19px;
}
.dropdown-menu
{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(169, 163, 163, 0.15);
}
@media (max-width: 767px)
{
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #f7f5f5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
      color: #004c81;
      background-color: transparent;
  }
}

/*login*/
.pb_form_v1 {
  padding: 1.3em 2em 2em;
  -webkit-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);

  box-shadow: 1px 11px 68px -20px #337ab752;
}
.rounded {
  border-radius: 1.25rem  !important;
}
.form-control.reverse {

  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;

}
.form-control
{
  border-radius: 0;
}
.pb_height-45 {
  height: 45px!important;
}

/*search*/

/*subscribe*/
.bg-elipse-red {
  background: url(../img/elipse-bg-two.png) no-repeat;
  background-position: center;
}
.cta-subscribe .content .title h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
.domain-checker .input-group {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
}
.domain-checker .input-group .input-group-addon {
  padding-left: 35px;
  padding-right: 35px;
  background: #7d71d3;
  color: #fff;
  cursor: pointer;
}
.domain-checker input
{
  height: 50px;
  border: none;
  border-radius: 0;

}
.domain-checker button
{
  border-radius: 0;
  height: 50px;
  padding: 0 45px;
}
#banner-static
{
  background-image: url("../img/cover.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner-static .content
{
  padding-top: 10%;
}
#banner-static h2
  {
      font-size: 2.5em;
      font-weight: bold
  }
@media only screen and (max-width:768px) {
  #banner-static .content {
      padding-top: 44%;
      padding-bottom: 17%;
  }
  #banner-static h2
  {
      font-size: 1.8em;
  }
  .title {

    font-size: 2em;
}
}

/*
*
* Statistics
*
*/
#Statistics .block
{
  padding-top: 1em;
}
#Statistics .block i
{
  color: #004c81;
}

/*
*
* services
*
*/
#services .morelink {
    display: block;
    margin-top: 1em;
    color: #fff;
}
#services.morelink:hover, #services.morelink:focus
{
  color: #ddd
}
#services .bg-elipse
{
  margin-top: -6% ;
}
.services .inner .content
{
  padding: 2em 1em;

}

.flex-container {
  display: flex;
  flex-wrap:wrap;
}

.flex-container .block {
  background-color: #f1f1f1;
  width: 33.333%;
}
.flex-container .block .icon i
{
  padding: .5em;
  font-size: 2em;
}
.services .block .header_one
{
  background: #004c81;
}
.services .block .header_two
{
  background: #058d6e
}
.services .block .header_thr
{
  background: #444443;
}
.services .block .inner h3
{
  font-size: 23px;

}
@media screen and (max-width: 575px) {
  .flex-container .block  {
      width: 100%;
  }

}

/*
*
* footer
*/

footer
{


  padding: 2em;
  color: #376fa4;
  background: #f5f5f552;
  font-size: 14px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
footer a
{
  padding: 10px 5px;
  color: #777;
}
footer .social
{
  font-size: 20px;
}
footer .list-inline  li a:active li a:focus, li a:hover, li a:visited
{
  color: #376fa4;
}
footer {
  width: 100%;

  background-image: url(../img/footer-bg.png);
  background-position: bottom -70px right -300px;
  background-size: cover;
  background-repeat: no-repeat;
}
/**/
.numiconstyle {
  padding: 3px 8px!important;
  font-size: 13px;
  color: azure;
  background-color: #004c81;
  border-radius: 50%!important;
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 19px;
}
.steps i
{
  font-size: 4em; padding: .3em;
}
.sourcesans-bold
{
  font-weight: bolder;
}
/*News*/
#News {
  width: 100%;
  position: relative;
  z-index: 9;
  overflow: hidden;
  padding-bottom: 105px;
}
#News:after {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/feedback-bg.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -9;
}
#News  .item
{
  margin: 3em 1em;
      border-radius: 18px;
      background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}


#News .post .post-meta {
  margin-top: 15px;
  margin-bottom: 15px;
}
#News .post-meta .post-category.cat-1 {
  background-color: #004c81;
  color: #fff;
  padding: .3em;

}
#News .post-meta .post-date {
  font-size: 13px;
  font-weight: 600;
}
#News .post .post-title {
  font-size: 18px;
  margin-bottom: 0px;
      max-height: 40px;
    min-height: 40px;
    overflow: hidden;
}

#News  .post-body
{
  padding: 1em 1em 2em 1em;
  text-align: center;
}
#News  .post-body p
{
  color: #aeaeae;
  font-size: 14px;
      max-height: 82px;
    min-height: 82px;
    overflow: hidden;
}
.owl-theme .owl-controls .owl-page span
{
  background: #004c81;
}
/*
*
* book
*
*/
.about-product-sec {
  width: 100%;
  background-color: #ffffff;
  z-index: 9;
  padding-top: 105px;
  position: relative;
}
.about-product-sec:after {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../img/about-bg-right.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -9;
}
.about-product-sec:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/about-bg-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -9;
}
.upload_outer p {
  color: #32353d;
  text-align: right;
  font-size: 16px;

  padding: 0 0 0 206px;

}
.left_arrow {
  left: 297px;
  position: absolute;
  text-align: left;
  top: -12px;
}
.right_arrow {
  right: 292px;
  position: absolute;
  text-align: left;
  top: -35px;
}
.upload_outer h2 {

  text-align: right;


  padding-top: 24px;
  padding-bottom: 5px;
}
.title:after {
  position: absolute;
  content: "";
  background-color: #4267b2;
  width: 20%;
  top: 100%;
  left: 40%;
  height: 8%;
}

/*
*
* Profile
*
*/
#profile .profile-info
{
  color: #000;
}

#taps {
  margin-top: 0px;
  background: #f2f7fb;
  padding: 20px;
  min-height: 600px;
}
#taps .block
{
  background-color: #fff;
  padding: 22px
}
#taps .nav-tabs > li > a {
  margin-left: 2px;
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;

  color: #777;
}
#taps ul li a::after
{
  border-bottom: 1px solid #f00;
}
#taps  .nav-tabs {
  border-bottom: 1px solid #fff;
}
#taps .block2
{
  background-color: #fff;
  padding: 20px
}
.tab-content .item
{
  font-weight: bold;
  font-size: 20px;
}


#ways  .container .collect
{

  background: #fff;
  box-shadow: 2px 2px 2px 2px #ddd;
  padding-bottom:100px;
  padding-top: 20px;
  padding: 20px;

}

.blah {
  display: none;
  max-width: 200px;
  max-height: 200px;
}
.table>tbody>tr>td
{
  border-top: transparent !important;
}
.label-white {
  background-color: #ffffff;
  color: #004c81;
  font-size: 1em;
  border-radius: 15px;
  padding: .4em;
  margin: 1em;
}

.clickable{
  cursor: pointer;
}

.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}

#taps .nav>li>a:focus, #taps .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #004c81;
}
#taps .nav-tabs>li.active>a, #taps .nav-tabs>li.active>a:focus,  #taps .nav-tabs>li.active>a:hover
{
  color: #004c81;
}
label
{
  font-weight: 500 !important ;
}
#profile hr
{
  border-top: 1px solid #fff;
}
.zoom {


  transition: transform .5s;
  position: relative;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2);


}


/* about */
#about
{
  width: 100%;
  background-color: #ffffff;
  background-image: url(../img/small-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  padding-top: 105px;
  padding-bottom: 105px;
}
#about_sec .block h1
{
  color: #444;
  font-weight: bold;
  margin-bottom: 1em;
}
#about_sec .block
{
  padding: 2em 1em;
}

#head
{
  background-color: #254ce9;
  width: 100%;


  background-size: cover;
  background-image: url(../img/shape-bg.png);
  background-repeat: no-repeat;

  background-size: cover;

}
#head h1
{
  padding: 2.5em 1em 2em;
  font-weight: 600;
  font-size: 50px;
}
#head .every-map-in
{
  padding: 6.5em 0 0 0;
}
#details .pb_form_v1
{
  padding: 3em 2em;
}

.morecontent span {
  display: none;
}
.morelink {
  display: block;
  margin-top: 1em;
  color: #004c81
}
.morelink:hover, .morelink:focus
{
  color: #011d2f
}


/**
**
** sustainability
**
*/

#sustainability .card-container
{
  position: relative;
}
#sustainability .card .side .block {
  position: absolute;
  bottom: 14px;
  left: 28px;
  color: #fff;
}
#sustainability .card .side .block h1 {
  font-weight: bold;
  font-size: 3em;
}

#sustainability .content {
  position: relative;

}

#sustainability .content .content-overlay {
  background: rgba(0, 76, 129, 0.61);
  position: absolute;

  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: .8;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#sustainability .content:hover .content-overlay{
  opacity: 1;
}
#sustainability .content:hover .block{
  opacity: 0;
}



#sustainability  .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#sustainability  .content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

#sustainability .content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

#sustainability .content-details p{
  color: #ddd;
  font-size: 1em;
}
#sustainability .content-image{
  max-height: 16em
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
#sustainability .content .block
{
  position: absolute;
  bottom: 14px;
  left: 28px;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
#sustainability  .block h1 {
  font-weight: bold;
  font-size: 3em;
}
/**
**
** talent
**
*/


#talent .content h2
{
  color: #444;
  font-weight: bold;

}
#talent .content
{
  border: 1px solid #004c8170;
  padding: 1em
}

/**
**
** Sign Up
**
*/

#signUp .card-container
{
  position: relative;
}
#signUp .card .side .block {
  position: absolute;
  bottom: 14px;
  left: 28px;
  color: #fff;
}
#signUp .card .side .block h1 {
  font-weight: bold;
  font-size: 3em;
}

#signUp .content , #signUp .item {
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
#signUp .content img , #signUp .item img{
  min-height: 17em;
}
#signUp .item .content-overlay {

  background: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: .8;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
#signUp .item .block
{
  position: absolute;
  margin: 1em;
  color: #6b6b6b;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#signUp .content .content-overlay {

  background: rgb(2, 173, 136);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: .8;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#signUp .content:hover .content-overlay{
  opacity: 1;
}
#signUp  .content:hover .btn-primary {
  background-color: #004c81;
  border-color: #004c81;
  color: #FFF;
  transition: all 0.4s;
  padding: 6px 34px;
  border-radius: 0;
}
#signUp  .content .btn-primary {
  background-color: #FFF;
  border-color: #FFF;
  color: #004c81;
  transition: all 0.4s;
  padding: 6px 34px;
  border-radius: 0;
}

#signUp .content:hover .content-overlay {
  background: rgba(0, 0, 0, 0.79);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: .8;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}



#signUp  .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#signUp  .content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

#signUp .content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

#signUp .content-details p{
  color: #ddd;
  font-size: 1em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
#signUp .content .block
{
  position: absolute;
  margin: 1em;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
#signUp  .block h1 {
  font-weight: bold;
  font-size: 2em;
}
@media only screen and (max-width:768px)
{
  #signUp .block h1 {
      font-weight: bold;
      font-size: 1.5em;
  }
}
/*
*
* department
*
*/
#Department  .item
{
  padding: 2em.5em;
  border-radius: 18px;
  
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
#Department  .item h3
{
  color: #8c9fb7
}
#Department  .item img
{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#Department   button {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 1em 2em;
  
  color: #404040;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
#Department  button::before {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
#Department  button.spin.circle.text-center.center-block:focus {
  outline: 0;
}
#Department  .spin {
  width: 8em;
    height: 8em;
    padding: 27px;
}
#Department  .spin:hover {
  color: #004c81;
  
}
#Department  .buttons:hover  img 
  {
    -webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) !important;
  }
  #Department  .spin::before, .spin::after {
  top: 0;
  left: 0;
}
#Department  .spin::before {
  border: 2px solid transparent;
}
#Department  .spin:hover::before {
  border-top-color: #004c81;
  border-right-color: #004c81;
  border-bottom-color: #004c81;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}
#Department  .spin::after {
  border: 0 solid transparent;
}
#Department  .spin:hover::after {
  border-top: 2px solid #004c81;
  border-left-width: 2px;
  border-right-width: 2px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
}

#Department  .circle {
  border-radius: 100%;
  box-shadow: none;
  border: 1px solid #404040;
}
#Department  .circle::before, .circle::after {
  border-radius: 100%;
}


/*
* 
register
*
*/
.agileits-top
{
      padding: 2em;
      padding: 3em 2em;
      border-radius: 18px;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
input[type=file] {
  display: none;
}



.optional_email{
    padding-left: 25px !important;
}


.require_text,.require_password, .require_email,.require_select{
    padding-left: 25px !important;
    background: url(../images/exclamation-mark.svg) ;
    background-size: 15px ;
    background-repeat: no-repeat ;
    background-position: 5px 9px ;
}


.empty_input{

    background: url(../images/exclamation-mark.svg) !important;
    background-size: 15px !important;
    background-repeat: no-repeat !important;
    background-position: 5px 9px !important;
}

.true_input{
    background: url(../images/checked.svg) !important;
    background-size: 15px !important;
    background-repeat: no-repeat !important;
    background-position: 5px 9px !important;
}
.false_input{
    background: url(../images/multiply.svg) !important;
    background-size: 15px !important;
    background-repeat: no-repeat !important;
    background-position: 5px 9px !important;
}

#SiteInfo .background {
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../img/cover.png);
  margin-top: 1em;

}
